@import "tailwindcss";

:root {
  --easy: hsl(120 30% 45%);
  --medium: hsl(210 35% 45%);
  --hard: hsl(0 35% 45%);
  --multi: hsl(50 35% 45%);
  --mine-flash: hsl(0 80% 40%);
  --safe: hsl(120 30% 45%);
  --number-1: hsl(60 60% 50%);
  --number-2: hsl(30 60% 50%);
  --number-3: hsl(0 35% 45%);
  --number-4: hsl(270 50% 50%);
  --number-5: hsl(210 60% 50%);
  --number-6: hsl(330 60% 50%);
  --background: #000000;
  --foreground: #EDEDED;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-cutive-mono);
  --font-mono: var(--font-cutive-mono);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000000;
  color: #EDEDED;
  font-family: var(--font-cutive-mono);
}

body {
  font-family: var(--font-cutive-mono);
}
